{% extends 'base_accounts.html' %}
{% block title %}Esqueceu a senha{% endblock %}

{%load static%}

{% block content %}

{% block extra_css %}
  <link type="text/x-scss" rel="stylesheet" media="screen" href="{% static 'css/login.scss'%}">
{% endblock %}


<h1>Esqueci a senha</h1>
<p class="password_reset">Digite seu e-mail para receber um link de redefinição.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button">
        <button type="submit" class="login_button">Enviar</button>
        <button type="submit" class="login_button"><a href="{%url 'login' %}">Login</a></button>
    </div>
</form>
{% endblock %}